fastapi
pydantic
uvicorn
motor
asyncio
pika
aio_pika
python-dotenv
fastapi_security
celery
flower
boto3 
python-multipart
azure-storage-blob
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
