fastapi
pydantic
uvicorn
motor
asyncio
pika
aio_pika
python-dotenv
fastapi_security
celery
flower
boto3 
python-multipart
azure-storage-blob
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
