httpx
fastapi
pydantic
uvicorn
aiohttp
firebase-admin
python-dotenv
httplib2
fastapi_security
fastapi_permissions
passlib
motor
aiofiles
python-multipart
boto3
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability